<?xml version="1.0"?>
<config>
    <modules>
        <Teamto_Catalogedit>
            <version>0.1.0</version>
        </Teamto_Catalogedit>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Teamto_Catalogedit>
                    <file>catalogedit.xml</file>
                </Teamto_Catalogedit>
            </updates>
        </layout>
    </frontend>
</config>