<?xml version="1.0"?>
<config>
    <modules>
        <Teamto_Filterajax>
            <version>0.1.0</version>
        </Teamto_Filterajax>
    </modules>
    <global>
        <models>
            <filterajax>
                <class>Teamto_Filterajax_Model</class>
            </filterajax>
        </models>

        <!--<blocks>
            <filterajax>
                <class>Teamto_Filterajax_Block</class>
            </filterajax>

            &lt;!&ndash;rewrite block Mage_Catalog_Block_Product_List &ndash;&gt;
            <catalog>
                <rewrite>
                    <product_list>Teamto_Filterajax_Block_Productlist</product_list>
                </rewrite>
            </catalog>
        </blocks>-->
        <!--
        <helpers>
            <teamto_filterajax>
                <class>Teamto_Filterajax_Helper</class>
            </teamto_filterajax>
        </helpers>-->
    </global>
    <frontend>
        <layout>
            <updates>
                <teamto_filterajax>
                    <file>teamto_filterajax.xml</file>
                </teamto_filterajax>
            </updates>
        </layout>

        <routers>
            <filterajax>
                <use>standard</use>
                <args>
                    <module>Teamto_Filterajax</module>
                    <frontName>filterajax</frontName>
                </args>
            </filterajax>
        </routers>
    </frontend>
</config>