<?xml version="1.0"?>
<config>
    <modules>
        <Teamto_Featured>
            <version>0.1.0</version>
        </Teamto_Featured>
    </modules>
    <global>
        <models>
            <featured>
                <class>Teamto_Featured_Model</class>
            </featured>
        </models>
        <blocks>
            <featured>
                <class>Teamto_Featured_Block</class>
            </featured>
        </blocks>
        <helpers>
            <featured>
                <class>Teamto_Featured_Helper</class>
            </featured>
        </helpers>
        <!--<resources>
            <teamto_featured_setup>
                <setup>
                    <module>Teamto_Featured</module>
                </setup>
            </teamto_featured_setup>
        </resources>-->
    </global>

    <frontend>
        <routers>
            <featured>
                <use>standard</use>
                <args>
                    <module>Teamto_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </featured>
        </routers>

        <layout>
            <updates>
                <featured>
                    <file>featured.xml</file>
                </featured>
            </updates>
        </layout>
    </frontend>
</config>