<?xml version="1.0"?>
<config>
    <modules>
        <Teamto_Featured>
            <version>0.1.0</version>
        </Teamto_Featured>
    </modules>
    <global>
        <models>
            <teamto_featured>
                <class>Teamto_Featured_Model</class>
                <resourceModel>teamto_featured_resource</resourceModel>
            </teamto_featured>

            <teamto_featured_resource>
                <class>Teamto_Featured_Model_Resource</class>
            </teamto_featured_resource>
        </models>

        <blocks>
            <teamto_featured>
                <class>Teamto_Featured_Block</class>
            </teamto_featured>
            <teamto_featured>
                <rewrite>
                    <product_list>Teamto_Featured_Block_Featured_Product</product_list>
                </rewrite>
            </teamto_featured>
            <teamto_featured>
                <rewrite>
                    <list_toolbar>Teamto_Featured_Block_Toolbar</list_toolbar>
                </rewrite>
            </teamto_featured>
        </blocks>

        <helpers>
            <teamto_featured>
                <class>Teamto_Featured_Helper</class>
            </teamto_featured>
        </helpers>

        <resources>
            <teamto_featured_setup_ver5>
                <setup>
                    <module>Teamto_Featured</module>
                    <class>Teamto_Featured_Model_Resource_Setup</class>
                </setup>
            </teamto_featured_setup_ver5>
        </resources>
    </global>

    <frontend>
        <routers>
            <featured>
                <use>standard</use>
                <args>
                    <module>Teamto_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </featured>
        </routers>

        <layout>
            <updates>
                <featured>
                    <file>featured.xml</file>
                </featured>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Teamto_Featured after="Mage_Adminhtml">Teamto_Featured</Teamto_Featured>
                        <frontName>admin</frontName>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <featured>
                    <file>smartosc.xml</file>
                </featured>
            </updates>
        </layout>
    </adminhtml>

</config>