.clear-both{
    clear: both;
}
ul#nav-mega{
    width: 950px;
    margin: 0px auto;
    position: relative;
    z-index: 9;
}
#nav-mega li.mega-level0 > ul {
    position:absolute;
    display:none;
    z-index: 10;
}
ul#nav-mega a{
    text-decoration: none;
    color: white;
}

/*grade 1*/
li.mega-level0{
    float: left;
    position: relative;
    margin: 10px 20px;
}
li.mega-level0.no-0{
    /*margin-left: 0px;*/
}
li.mega-level0 a{
    padding: 10px 20px;
}
li.mega-level0 a:hover{
    background-color: #565656;
}
li.mega-level0.active > a{
    background-color: #565656;
}
/*grade 2*/
#nav-mega li:hover ul{
    display: block;
}
ul.mega-level0{
    background-color: white;
    top:25px;
    padding: 10px 10px;
    border-radius: 5px;
}
ul.mega-level0.no-2{
    margin-left: -110px;
}
ul.mega-level0.no-3{
    margin-left: -260px;
}
ul.mega-level0.no-4{
    margin-left: -420px;
}
ul.mega-level0.no-5{
    margin-left: -530px;
}
ul.mega-level0.no-6{
    margin-left: -630px;
}
ul.mega-level0 li.mega-level1{
    min-width: 200px;
    float: left;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}
li.mega-level1{
}
#nav-mega li.mega-level1 a{
    color: #0044ff;
    padding: 5px 0px;
    font-weight: bold;
}
#nav-mega li.mega-level1 a:hover{
    color: red;
    background: none;
}
span.mega-menu-status{
    display: inline-block;
    margin-left: 10px;
}
span.mega-menu-status.hot{
    color: red;
}
span.mega-menu-status.new{
    color: #008800;
}
/*grade 3*/
ul.mega-level1{

}
li.mega-level2{
    margin-bottom: 5px;
    margin-top: 5px;
}
#nav-mega li.mega-level1 ul li a{
    color: #000000;
    font-weight: normal;
}