<?xml version="1.0"?>
<config>
    <modules>
        <Teamto_Configcustom>
            <version>0.1.0</version>
        </Teamto_Configcustom>
    </modules>
    <global>
        <models>
            <configcustom>
                <class>Teamto_Configcustom_Model</class>
            </configcustom>
        </models>

        <helpers>
            <configcustom>
                <class>Teamto_Configcustom_Helper</class>
            </configcustom>
        </helpers>
    </global>
    <frontend>
        <routers>
            <configcustom>
                <use>standard</use>
                <args>
                    <module>Teamto_Configcustom</module>
                    <frontName>config</frontName>
                </args>
            </configcustom>
        </routers>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slideshow_option>
                                            <title>Slideshow option</title>
                                        </slideshow_option>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>