<?xml version="1.0"?>
<!--add tab/section/group config for widget slideshow-->
<config>
    <tabs>
        <widgetoption translate="label" module="configcustom">
            <label>Widget Option</label>
            <sort_order>99999</sort_order>
        </widgetoption>
    </tabs>
    <sections>
        <slideshow_option translate="label" module="configcustom">
            <label>Slideshow Option</label>
            <tab>widgetoption</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <messages translate="label">
                    <label>Widget Option</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <slide_enable>
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <default_val>1</default_val>
                            <source_model>configcustom/select_enable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </slide_enable>
                        <slide_number>
                            <label>Number of Products to display</label>
                            <frontend_type>text</frontend_type>
                            <default_val>5</default_val>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-number</validate>
                        </slide_number>
                        <slide_template>
                            <label>Template</label>
                            <frontend_type>select</frontend_type>
                            <default_val>1</default_val>
                            <source_model>configcustom/select_template</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </slide_template>
                        <slide_lifetime>
                            <label>Cache Lifetime (Seconds)</label>
                            <frontend_type>text</frontend_type>
                            <default_val>5</default_val>
                            <comment>5 by default if not set. To refresh instantly. Clear the Blocks Html output Cache</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </slide_lifetime>
                    </fields>
                </messages>
            </groups>
        </slideshow_option>
    </sections>
</config>