<?xml version="1.0"?>
<config>
    <modules>
        <Teamto_Filter>
            <version>0.1.0</version>
        </Teamto_Filter>
    </modules>

    <frontend>
        <routers>
            <!--<customer>-->
                <!--&lt;!&ndash;<use>standard</use>&ndash;&gt;-->
                <!--<args>-->
                    <!--&lt;!&ndash;<module>SM_Vendor</module>&ndash;&gt;-->
                    <!--<modules>-->
                        <!--<vendor before="Mage_Customer">SM_Vendor</vendor>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</customer>-->

            <filter>
                <use>standard</use>
                <args>
                    <module>Teamto_Filter</module>
                    <frontName>filter</frontName>
                </args>
            </filter>
        </routers>

        <layout>
            <updates>
                <filter>
                    <file>filter.xml</file>
                </filter>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <teamto_filter>
                <class>Teamto_Filter_Model</class>
            </teamto_filter>
        </models>

        <blocks>
            <teamto_filter>
                <class>Teamto_Filter_Block</class>
            </teamto_filter>
        </blocks>
        <helpers>
            <teamto_filter>
                <class>Teamto_Filter_Helper</class>
            </teamto_filter>
        </helpers>
        <resources>
            <teamto_filter_setup>
                <setup>
                    <module>Teamto_Filter</module>
                </setup>
            </teamto_filter_setup>
        </resources>
    </global>
</config>